.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("C:/Users/DOWNLOAD/OneDrive/Desktop/Sgame/final/my-firebase-app/src/images/bgimage1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.imgii {
  background-image: url("/src/images/image2.png");
  height: 90%; 
  width: 77%; 
  margin-left: -250px; 
  margin-top: 80px; 
  background-size: contain; 
  background-repeat: no-repeat;
}

#homeForm {
  background-color: #d3d3d3;
  max-width: 400px;
  padding: 20px;
  width: 100%;
  height: 60%;
  border-radius: 20px;
  position: absolute;
  top: 50;
  right: 500px;
}

#a {
  font-size: 40px;
  font-weight: bold;
  color: #232836;
  text-align: center;
  padding: 10px;
}

#b {
  font-size: 30px;
  font-weight: bold;
  color: #232836;
  text-align: center;
  padding: 10px;
}

#login-btnn {
  height: 50px;
  width: 40%;
  background-color: #224f11;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-weight: 400;
  font-size: 18px;
  margin: 15px 0 10px 0;
  transition: 0.5;
  cursor: pointer;
  position: absolute;
  bottom: 185px;
  left: 120px;
}

#login-btnn:hover {
  background-color: #058817;
}

#register-btn {
  height: 50px;
  width: 40%;
  background-color: #224f11;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-weight: 400;
  font-size: 18px;
  margin: 15px 0 10px 0;
  transition: 0.5;
  cursor: pointer;
  position: absolute;
  bottom: 105px;
  left: 120px;
}

#register-btn:hover {
  background-color: #058817;
}

#instructions-btn {
  height: 50px;
  width: 40%;
  background-color: #224f11;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-weight: 400;
  font-size: 18px;
  margin: 15px 0 10px 0;
  transition: 0.5;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  left: 120px;
}

#instructions-btn:hover {
  background-color: #058817;
}
